
.icon-fire:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */